<ng-template ngFor let-homeStation [ngForOf]="homeStations">
  <mat-card class="home-station-card" [routerLink]="['/HomeStation', homeStation.serialnumber]">
    <mat-card-title>
      {{ homeStation.name }}
      <!--<span *ngIf="homeStation.active" class="active-dot"></span>
      <span *ngIf="!homeStation.active" class="inactive-dot"></span>-->
    </mat-card-title>
    <mat-card-subtitle>Seriennummer: {{ homeStation.serialnumber }}</mat-card-subtitle>
  </mat-card>
</ng-template>

<mat-card class="home-station-card-add">
  <mat-card-title>
   Add new Homestation
  </mat-card-title>
  <mat-icon matSuffix>add_circle</mat-icon>
</mat-card>
