.stretch-container{
  flex: auto 1 1;
}

.notify-card{
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.notify-delete-button{
  float: right;
}
.notify-title{
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
  font-size: large;
}

.notify-icon{
  float: right;
}

.add-button {
  width: 100%;
}

.notify-input {
  font-size: large;
  width: 90%;
  margin-left: 10px;
  margin-right: 15px;
}

.notify-input-form {
  margin-left: 10px;
  margin-right: 10px;
}

.notify-header{
  align-content: center;
  text-align: center;

}
