::ng-deep .mat-sidenav-container{
  height: 100vh !important;
}

.side-nav-button-right{
  text-align: left;
  display: inline-block;
}

.nav-bar-spacer {
  flex: 1 1 auto;
}

.side-nav-container {

}

.side-nav{

}
