<mat-card class="card">
  <mat-card-title>Sign Up</mat-card-title>
  <mat-card-content>
    <mat-form-field>
      <input matInput placeholder="Email"type="email" [(ngModel)]="newUser.email">
    </mat-form-field><br/>

    <mat-form-field>
      <input matInput placeholder="Password"type="password" formControlName="password">
    </mat-form-field><br/>

    <mat-form-field>
      <input matInput placeholder="Repeat password" type="password" formControlName="confirmPassword">
      <mat-error *ngIf="">{{"Passwords do not match"}}</mat-error>
    </mat-form-field><br/>
    <button mat-raised-button color="primary" style="margin-right:5px;" (click)="signUp()">Sign Up</button>
  </mat-card-content>
</mat-card>



